.App {
  text-align: center;
}

.App-scholarship {
  height: 75vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-TopButton {
  background-color: #282c34;
  position: absolute;
  right: 28.8%;
  top: 1.38%;
  font-size: calc(0px + 0vmin);
  color: black;
  
}

.App-RightButton {
  background-color: #282c34;
  position: absolute;
  right: 23.71%;
  top: 13.7%;
  font-size: calc(0px + 0vmin);
  color: black;
  
}

.App-SecondRightButton {
  background-color: #282c34;
  position: absolute;
  right: 23.71%;
  top: 20.0%;
  font-size: calc(0px + 0vmin);
  color: black;
  
}

.App-ThirdRightButton {
  background-color: #282c34;
  position: absolute;
  right: 23.71%;
  top: 26.3%;
  font-size: calc(0px + 0vmin);
  color: black;
  
}

.App-FourthRightButton {
  background-color: #282c34;
  position: absolute;
  right: 23.71%;
  top: 32.6%;
  font-size: calc(0px + 0vmin);
  color: black;
  
}





.App-buttons {
  background-color: #282c34;
  height: 50px;
  width: 50px;
  

  
  font-size: calc(0px + 0vmin);
  color: black;

  
}



.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
